<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings><setting name="logImpl" value="LOG4J"/></settings>
	<typeAliases>
		<typeAlias type="com.dcx.poz.model.Api" alias="api"/>
		<typeAlias type="com.dcx.poz.model.ApiCategory" alias="apiCategory"/>
		<typeAlias type="com.dcx.poz.model.AlbumGroup" alias="albumGroup"/>
		<typeAlias type="com.dcx.poz.model.AlbumPhoto" alias="albumPhoto"/>
		<typeAlias type="com.dcx.poz.model.AlbumSelect" alias="albumSelect"/>
		<typeAlias type="com.dcx.poz.model.PagerParam" alias="pagerParam"/>
		<typeAlias type="com.dcx.poz.model.Poem" alias="poem"/>
		<typeAlias type="com.dcx.poz.util.PageEntity" alias="pageEntity"/>
		<typeAlias type="com.dcx.poz.util.Pager" alias="pager"/>
		
	</typeAliases>
</configuration>